* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'spongefont';
    src: url('../fonts/spongefont-webfont.woff2') format('woff2'),
         url('../fonts/spongefont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: fixed;
    color: #fff;
    background-image: url(../images/field.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "spongefont";
}

header {
    width: 100%;
    font-size: 80px;
    color: yellow;
    z-index: 1;
    text-align: center;
}

h1 {
    display: inline-block;
}

div > * {
    vertical-align:middle;
}

.wrapper {
    margin-top: 40px;
	position: relative;
    text-align: center;
    font-size: 28px;
    overflow : auto;
    height: 100%;
}

.hangman {
    display: inline-block;
    z-index: -1;
    margin-left: 100px;
}

.hangman > img {
    max-height: 400px;
}

.info {
    position: relative;
    display: inline-block;
	line-height: 2em;
}

.answer {
    position: absolute;
    top: 10px;
    left: 10;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.brown {
    color: brown;
}

.pink {
    color: pink;
}

.yellow > h1, .pink > h1 {
    display: block;
}

.media-input > * {
    display: inline;
}

button {
    background: cyan;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px;
    font-size: 24px;
    font-family: "spongefont";
}

.letters {
    margin: 0 20px;
    font-size: 36px;
}

.guessLetter {
    margin-left: 40px;
}

@media screen and (max-width: 980px) and (min-width: 769px) {
    .hangman {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 50px;
    }
    .wrapper {
        margin-top: 20px;
        font-size: 22px;
    }
    .hangman {
        margin: 0;
    }
    .hangman > img, .character > img {
        max-height: 200px;
    }
    .info {
        line-height: 1.5em;
    }
}

/*@media screen and (max-width: 640px) {
    
}*/